.vertical-table-view {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  box-sizing: border-box;
  }
  
  .vertical-table-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    background: #1b1b1bff;
    width: 100%;
  }
  
  .vertical-table-icon {
    margin-right: 1rem;
  }
  
  .vertical-table-content {
    flex: 1;
    text-align: left;
  }
  
  .vertical-table-title {
    margin: 0 2rem 0.5rem 0;
    font-size: small;
  }
  
  .vertical-table-description {
    margin: 0;
    font-size: smaller;
  }
  
  .icon {
    height: 20px;
    width: 20px;
  }
  .vertical-table-button {
    background-color: #070707e3;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 17.5px;
    cursor: pointer;
    /* transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 12px 12px 12px rgba(0, 123, 255, 0.3); */
  }
  
  /* .vertical-table-button {
    
    transform: translateY(-2px);
  } */